<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwh.rob_redpacket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.TestActivity">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <service android:name=".WeChetService"-->
        <!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"-->
        <!--            android:label="@string/accessibility_description"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
        <!--            </intent-filter>-->
        <!--            <meta-data-->
        <!--                android:name="android.accessibilityservice"-->
        <!--                android:resource="@xml/text_server_config"/>-->
        <!--        </service>-->

<!--        <service-->
<!--            android:name=".WeChartService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--                android:resource="@xml/envelope_service_config" />-->
<!--        </service>-->


        <service
            android:name=".WeChartService"
            android:description="@string/description_in_manifest"
            android:exported="true"
            android:label="@string/wechart"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService" />
        </intent-filter>
        <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/accessibility_config" />
        </service>

        <service
            android:name=".QQService"
            android:description="@string/description_in_manifest"
            android:exported="true"
            android:label="@string/qq"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

    </application>

</manifest>